@import "tailwindcss";

@theme {
  --color-primary: #FFD700;
  --color-secondary: #000000;
}

body {
  background-color: white;
  color: var(--color-secondary);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}